name: Test

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - run: pnpm i

      - run: pnpm dev:prepare

      - name: Build
        run: pnpm run build

      - name: Types
        run: pnpm run typecheck && pnpm test:attw

      - name: Test
        run: pnpm run test
